<template>
 <!-- v-for="Id in ads" :key="Id -->
<div class="app">
  <h2><img src="https://www.muralswallpaper.com/app/uploads/textured-white-marble-textures-plain.jpg"></h2>
 <Tabs @changePage="changePage" indexTab="friend">
            <TabPanel changePage :label="`${ad[0].title}`" hash="friend" fontsize="36" tabheight="90" color="red">
                <div class="first">
                </div>
            </TabPanel>
            <TabPanel changePage :label="`${ad[1].title}`" hash="friend" fontsize="36" tabheight="90" color="green">
                <div class="second">
                </div>
            </TabPanel>
            <TabPanel changePage :label="`${ad[2].title}`" hash="friend" fontsize="36" tabheight="90" color="yellow">
                <div class="third">
                </div>
            </TabPanel>
            <TabPanel :label="`${ad[3].title}`" hash="friend" fontsize="36" tabheight="90" color="grey">
                <div class="fourth">
                </div>
            </TabPanel>
        </Tabs>

</div>
</template>


<script>
import ImageEditor from "./ImageEditor.vue";

export default {
  components: { ImageEditor },
  props: ["ad"],
  methods: {
    changePage(idx) {
      console.log(idx);
    }
  }
};
</script>

<style scoped>
header {
  padding: 1em;
  color: white;
  background-color: transparent;
  border-style: groove;
  clear: left;
  text-align: center;
  max-height: 10px;
}
h2 {
  height: 200px;
  width: 180px;
}
.large{
    width: 120vw;
    height: 170vh;
}

</style>
