<template>
  <div>
    <ads-header :ad="ads"></ads-header>
      <div class='scrollable-table'>
      <image-editor v-for="(ad,Id) in ads"
                     :ad="ad" :key="Id">
</image-editor>
<image-editor :ad="ads[0]"></image-editor>
      </div>
  </div>
</template>


<script>
import ImageEditor from "./ImageEditor.vue";
import AdsListing from "./adsImport";
import { getAds } from "./adsImport";
import AdsHeader from "./AdsHeader";
import BackgroundImage from "./BackgroundImage";

export default {
  components: { ImageEditor, AdsHeader, BackgroundImage },
  data() {
    return {
      ads: []
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      getAds().then(response => {
        vm.ads = response.data;
      });
    });
  }
};
</script>

<style scoped>
.scrollable-table {
  height: 90vh;
  overflow: auto;
  float: top;
}
</style>
