<template>
  
</template>

<script>
export default {
  
}
</script>

<style scoped>
div .container {

background-image: "https://www.muralswallpaper.com/app/uploads/textured-white-marble-textures-plain.jpg";

background-attachment: fixed;

background-position: center;

background-repeat: no-repeat;

background-size: cover;

}
</style>
