<template>
  <div v-if="ad">
    <article>
    <h2 class="font-style" v-if="ad.title">{{ad.title}}</h2>
    <p>{{ad.description}}</p>
    </article>

    <nav>
      <ul>
    <li><img class="small" :src="ad.picurl"/></li>
      </ul>
    </nav>
  </div>
</template>

<script>
  export default {
    props: [ 'ad' ]
}

</script>
<style scoped>

nav {
    float: bottom;
    border-bottom: 0.5px grey;
    padding: 8px;
    border-bottom-style: dashed;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}
article {
  display: block;
  margin:auto;
  width: 77%;
  text-align: left;
  float: right;
}
.small {
    width: 20vw;
    height: 10vh;
  }
h2 {
  font: bold 16px/1.5 Verdana;
  background: white;
}

p {
  font: 10px/1.5 Arial;
  float: middle;
}

.small:hover{
 width: 30vw;
 height: 20vh;
 transition: all 0.6s ease;
}

</style>

