<template>
  <body>

<div>
  <ul>
    <li>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Grass_Blades.jpg/220px-Grass_Blades.jpg" alt="Grass_Blades">
      <h3>Headline Test</h3>
      <p>Test</p>
    </li>
      
    <li>
      <img src="https://t3.ftcdn.net/jpg/01/42/06/58/240_F_142065898_VVByY1roEsAgjNlky21WV80HnzvUDa3Z.jpg" alt="Grass_Blades">
      <h3>Headline</h3>
      <p>Tested</p>
    </li>
 
    <li>
      <img src="https://images.pexels.com/photos/9056/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350" alt="Grass_Blades">
      <h3>Headline</h3>
      <p>Test</p>
    </li>
 
    <li>
      <img src="https://media.istockphoto.com/photos/green-grass-field-of-public-park-in-morning-light-picture-id613034406" alt="grass">
      <h3>Headline</h3>
      <p>Testing</p>
    </li>
  </ul>
</div>

</body>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  }
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}
</style>
